/* Подключение шрифтов из локальной папки*/
@font-face {
  font-family: Gilroy;
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

/* Определим кастомные свойства*/
:root {
  --basic-black: #000000;
  --basic-extra-dark: #363636;
  --basic-dark: #464646;
  --basic-filter: #dcdcdc;
  --basic-neutral: #7e7e7e;
  --basic-extra-light: #e5e5e5;
  --basic-white: #ffffff;

  --additional-yellow: #f0c52e;
  --additional-yellow-light: #f7e296;
  --additional-yellow-span: #f0c52e;
  --additional-green:#91c92f;
  --white-opacity: rgba(255, 255, 255, 0.30);

  --status-color: #f6dada;
  --disabled-color: #a6a6a6;
  --pagination-color: #ebebeb;
  --pagination-push: #d9d9d9;
  --filter-header: #dcdcdc;
  --scale-color:#91c92f;
  --toggle-center: #c4c4c4;
}

/* описание для border-box */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/* Добавим общие стили для страницы*/
body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Verdana, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-position: center top;
}

/* служебный класс visually-hidden*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Стилизация навигации по сайту*/
.main-header-logo:hover img,
.main-header-logo:focus img {
  border: 1px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.60;
}

.logo:hover img,
.logo:focus img {
  opacity: 0.60;
  margin-bottom: -2px;
}

.main-header-logo:active img {
  opacity: 0.30;
  border-style: none;
  margin-bottom: 0;
}

.search-input {
  color: var(--basic-black);
  background-color: var(--additional-yellow-light);
  border: none;
}

.search-input::placeholder {
  opacity: 0.30;
}

.search-input:hover::placeholder,
.search-input:focus::placeholder{
  opacity: 0.60;
}

.search-button {
  display: none;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: transparent;
  border: 2px solid #000000;
}

.search-button:hover,
.search-button:focus {
  outline: none;
  display: inline-block;
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-button:active {
  color: var(--white-opacity);
}

.search-input:focus + .search-button {
  display: inline-block;
}

.user-navigation a {
  color: var(--basic-black);
}

.user-navigation > a:hover,
.user-navigation > a:focus  {
  opacity: 0.60;
}

.user-navigation a:active,
.user-navigation-exit {
  opacity: 0.30;
}

.site-navigation,
.site-navigation-footer {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a,
.site-navigation-footer a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.dropdown {
  position: relative;
}

.dropdown-list {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(3, min-content);
  row-gap: 20px;
  column-gap: 61px;
  z-index: -1;
  margin: 0;
  padding: 20px 0 35px 60px;
  width: 1160px;
  left: -60px;
  background-color: var(--additional-yellow-light);

  list-style: none;
}

.dropdown-list a {
  font-family: "Open Sans", Verdana, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  letter-spacing: normal;

  text-transform: none;
}

.dropdown:hover .dropdown-list,
.dropdown:focus {
  z-index: 10;
}

.dropdown-wrapper {
  display: none;
}

.dropdown:hover .dropdown-wrapper,
.dropdown:focus {
  display: block;
}

.dropdown-list li {
  white-space: nowrap;
}

.dropdown-list li:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.dropdown-list li:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;

}
.dropdown-list li:nth-child(3) {
  grid-area: 3 / 1 / 4 / 2;

}
.dropdown-list li:nth-child(4) {
  grid-area: 1 / 2 / 2 / 3;

}
.dropdown-list li:nth-child(5) {
  grid-area: 2 / 2 / 3 / 3;

}
.dropdown-list li:nth-child(6) {
  grid-area: 1 / 3 / 2 / 4;
}

.site-navigation-item:hover a,
.site-navigation-item:focus a,
.dropdown-item:hover a,
.dropdown-item:focus a {
  opacity: 0.60;
}

.site-navigation-item:active a,
.dropdown-item:active a
{
  opacity: 0.30;
}

/* Слайдер*/
.slider {
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, var(--additional-yellow-light) 28%, var(--basic-white) 28%, var(--basic-white) 72%);

  list-style: none;
}

.slide-1-img {
  margin-top: 17px;
}

.slide-2-img {
  margin-top: 43px;
}

.slide-3-img {
  margin-top: 100px;
}

.slider-item  {
  display: none;
}

.slide-current {
  display: block;
  margin-left: 89px;
  margin-right: 47px;
  position: relative;
}

.slide-current span::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 7px;
  top: 55px;
  left: 525px;
  background: var(--basic-white);
}

.slider-item h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider-item span {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin-left: auto;
}

.common-link {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color:var(--basic-black);
}

.slider-link:active {
  opacity: 0.30;
}

.slider-table th {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  padding-right: 64px;
  white-space: nowrap;
}

.slider-table td {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;

  grid-row: 1 / 2;
  margin: 0;
  padding-bottom: 15px;
}

.slider-controls {
  position: absolute;
  bottom: 137px;
  right: 160px;
  z-index: 20;
  font-size: 0;
}

/* Популярные товары*/
.catalog {
  margin-bottom: 69px;
}

.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

.catalog-list a:active {
  opacity: 0.30;
}

/* Сервисы*/
.service-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-item {
  display: none;
}

.service-item.current {
  display: block;
}

.service-list h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-list p {
  line-height: 30px;
  letter-spacing: 0.1em;
}

.service-button {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background: transparent;
}

.service-button.current-button {
  color: var(--additional-yellow-light);
}

/* Производители */
.manufacturers-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.manufacturers-list li {
  filter:grayscale(1);
  opacity: 0.20;
}

.manufacturers-list li:hover {
  filter: none;
  opacity: 1;
}

/* О компании */
.about-company h3,
.contacts-company h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-company p,
.contacts-company p {
  line-height: 28px;
}

.delivery {
  margin: 0;
  padding: 0;

  list-style: none;
}

.delivery li {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

/* Каталог*/
.catalog-header {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
}

/* breadcrumbs */
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.30;
}

.breadcrumbs li:hover,
.breadcrumbs li:focus {
  opacity: 0.60;
}

.breadcrumbs li:active {
  opacity: 0.10;
}

.section-header {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.checkbox-list,
.checkbox-list,
.radio-list,
.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cost-fieldset .label-filters,
.cost-fieldset .input-filters {
  font-size: 14px;
  line-height: 16px;
}

.colors-fieldset .label-checkbox,
.bluetooth-fieldset .label-radio {
  font-size: 14px;
  line-height: 19px;
}
.custom-checkbox:disabled + .label-checkbox  {
  color: var(--disabled-color);
}

.custom-radio:disabled + .label-radio  {
  color: var(--disabled-color);
}

.button-submit {
 border: none;
 background-color: transparent;
}

.sorting-list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  opacity: 1.00;
}

.custom-sorting:not(:checked) + .label-sorting {
  opacity: 0.30;
}

.sorting-list li:hover,
.sorting-list li:focus {
  opacity: 0.60;
}

.sorting-list li:active {
  opacity: 1.00;
}

.catalog-items-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.item-description {
  font-family: Gilroy, Arial, sans-serif;
  letter-spacing: 0.05em;
  margin: 0;
}

.item-description a {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
  width: 270px;
}

.item-description span {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  margin-left: auto;
}

.set-button {
  display: none;
}

.catalog-item img {
  background-color: var(--basic-neutral);
}

.catalog-item img:hover,
.catalog-item img:focus {
  opacity: 0.70;
}

.catalog-item:hover .set-button,
.catalog-item:focus .set-button {
  display: block;
}

.cart-button,
.to-compare {
  border: none;
  background: transparent;
}

.cart-button:active {
  opacity: 0.30;
}

.to-compare {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.50;
}

.to-compare:hover,
.to-compare:focus {
  opacity: 1.00;
}

.to-compare:active {
  opacity: 0.20;
}

.pagination-block {
  background-color: var(--pagination-color);
}

.pagination {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-button,
.pagination a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination-button:hover {
  background-color: var(--pagination-push);
}

.pagination-button:active {
  opacity: 0.30;
}

.pagination-item:not(.pagination-item-current) a {
  opacity: 0.30;
}

.pagination-item:not(.pagination-item-current):hover a,
.pagination-item:not(.pagination-item-current):focus a {
  opacity: 0.60;
}

.pagination-item:not(.pagination-item-current):active a {
  opacity: 1.00;
}

/* Футер */
.footer-wrapper {
  width: 100%;
  background-color: var(--basic-dark);
}

.user-navigation-footer a {
 color: var(--basic-white);
}
.user-navigation-footer a {
  opacity: 0.70;
}

.user-navigation-footer > a:hover,
.user-navigation-footer > a:focus  {
  opacity: 1.00;
}

.user-navigation-footer a:active {
  opacity: 0.30;
}

.footer-contacts p,
.footer-phone {
  color: var(--basic-white);
}

.site-navigation-footer a {
  color: var(--basic-white);
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-button:hover .icon-path,
.social-button:focus .icon-path {
  fill-opacity: 0.60;
}
.social-button:active .icon-path {
  fill-opacity: 0.10;
}

.footer-copyright:hover,
.footer-copyright:focus {
  opacity: 0.60;
}

.footer-copyright:active {
  opacity: 0.30;
}

/* Grid */
.page {
  height: 100%;
}

.container {
  width: 1440px;
  min-width: 1160px;
  margin: 0 auto;
  padding: 0 140px;
}

/* Популярные товары*/
.catalog-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
  position: relative;
}

.catalog-list li::before {
  content: "";
  width: 160px;
  height: 160px;
  background-color: var(--additional-yellow-light);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-bottom: 38px;
}

.catalog-item-1::before {
  background-image: url("../img/popular-1.svg");
}

.catalog-item-2:before {
  background-image: url("../img/popular-2.svg");
}

.catalog-item-3::before {
  background-image: url("../img/popular-3.svg");
}

.catalog-item-4::before {
  background-image: url("../img/popular-4.svg");
}

.catalog-item-5::before {
  background-image: url("../img/popular-5.svg");
}

.catalog-item-6::before {
  background-image: url("../img/popular-6.svg");
}

/* Производители*/
.manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
}

/* Слайдер*/
.slider-item.slide-current {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 40px;
  max-width: 1024px;
  margin-bottom: 116px;
}

.slider-item img {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.slider-item span {
  grid-column: 2/ 3;
  grid-row: 1 / 2;
  order: 0;
}

.slider-item h3 {
  grid-column: 2/ 3;
  grid-row: 1 / 2;
  margin-top: 110px;
  margin-bottom: 26px;
}

.slider-item p {
  grid-column: 2/ 3;
  grid-row: 2 / 3;
  margin-bottom: 60px;
}

.slider-item a {
  grid-column: 2/ 3;
  grid-row: 3 / 4;
  margin-bottom: 60px;
}

.slider-item table {
  grid-column: 2/ 3;
  grid-row: 4 / 5;
}

/* Каталог */
.grid-page {
  display: grid;
  grid-template-areas:
  "main-header"
  "main-content"
  "footer";
  grid-template-rows: min-content 1fr 324px;
  min-height: 100vh;
}

.main-header {
  grid-area: main-header;
}

.main-content {
  grid-area: main-content;
}

.footer {
  grid-area: footer;
}

.catalog-page {
  display: grid;
  grid-template-areas:
    "filter sorting"
    "filter catalog";
  grid-template-columns: min-content 2fr;
  grid-template-rows:
    70px
    min-content;
  grid-gap: 70px;
  min-height: 100vh;
}

.filters {
  grid-area: filter;
}

.sorting {
  grid-area: sorting;
}

.catalog-wrapper {
  grid-area: catalog;
}

.catalog-wrapper {
  display: grid;
  grid-template-areas:
    "catalog"
    "pagination";
  grid-template-columns: 1fr;
  grid-template-rows:
    1fr
    70px;
  grid-gap: 40px;
  padding-bottom: 78px;
}

.catalog-results {
  grid-area: catalog;
}

.pagination {
  grid-area: pagination-block;
}

.catalog-items-list {
  display: grid;
  grid-template-areas:
    "catalog-odd catalog-even";
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.catalog-results li:nth-child (odd) {
  grid-area: catalog-odd;
}

.catalog-items-list li:nth-child (even) {
  grid-area: catalog-even;
}

/* Флексы*/
.header-wrapper {
  background-color: var(--additional-yellow-light);
  margin-top: 40px;
  margin-bottom: -146px;
}

.main-navigation {
  display: flex;
  flex-direction: column;

  background-color: var(--additional-yellow-light);
  margin-top: 40px;
}

.navigation-wrapper {
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 7px;
}

.user-row {
  display: flex;
  margin-bottom: 50px;
}

.site-navigation {
  display: flex;
}

.main-header-logo {
  margin-left: 60px ;
  margin-top: -20px;
  margin-bottom: 29px;
}

.user-navigation {
  display: flex;
  margin-left: auto;
  width: 500px;
}

.user-navigation a {
  margin-left: 41px;
}

.user-navigation a:first-child {
  margin-right: auto;
}

.user-navigation a::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-cart.svg");
}

.site-navigation > li {
  margin-left: 38px;
}

.site-navigation > li:first-child {
  margin-right: auto;
  margin-left: 0;
}

.site-navigation > li:last-child {
  margin-left: 111px;
}

/* Блок сервисов*/
.services {
  display: flex;
}

.service-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  margin-right: 240px;
  padding-top: 18px;
  position: relative;
}

.service-button {
  margin-bottom: 40px;
}


.service-item h3 {
  margin-bottom: 40px;
  margin-top: 0;
}

.service-item p {
  width: 574px;
}

.services-wrapper {
  width: 100%;
  height: 403px;
  background: linear-gradient(to bottom, var(--basic-white) 28%, var(--basic-extra-light) 28%, var(--basic-extra-light) 72%);
  margin-bottom: 90px;
}

.services-content {
  display: flex;
  padding-top: 86px;
}

.service-controls .current-button::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--basic-black);
  width: 277px;
  height: 40px;
  left: 0;
  z-index: -10;
}

.service-controls button:nth-child(1)::before  {
  top: 10px;
}

.service-controls button:nth-child(2)::before  {
  top: 74px;
}

.service-controls button:nth-child(3)::before  {
  top: 139px;

}

.current-button {
  z-index: 10;
}

/* Производители */
.manufacturers {
  margin-bottom: 90px;
}

/* Информация о компании + Контакты */
.info-wrapper {
  display: flex;
  position: relative;
  margin-bottom: 86px;
}

.about-company,
.contacts-company {
  display: flex;
  flex-direction: column;
}

.about-company {
  margin-right: 127px;
}

.info-wrapper h3::before {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 7px;
  top: 0;
  background: var(--basic-black);
}

.about-company p:nth-child(2) {
  width: 420px;
  margin-bottom: 25px;
}

.about-company p:nth-child(3) {
  width: 475px;
  margin-bottom: 45px;
}

.about-company .delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 84px;
  padding-left: 32px;
  position: relative;
}

.delivery li:not(:last-child) {
  margin-bottom: 20px;
}

.delivery li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 0;
  border-radius: 50%;
  border: 2px solid var(--basic-extra-light);
}

.delivery li:nth-child(1)::before {
  top: 10px;
}

.delivery li:nth-child(2)::before {
  top: 58px;
}

.delivery li:nth-child(3)::before {
  top: 106px;
}

.contacts-company p {
  margin-bottom: 40px;
}

.contacts-company img {
  background: var(--basic-extra-light);
  margin-bottom: 85px;
}

/* Футер */
.footer-navigation {
  display: flex;
  padding-top: 46px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.main-footer-logo {
  margin-top: 18px;
}

.user-navigation-footer a {
  margin-left: 40px;
}

.footer-contacts {
  display: flex;
  margin-bottom: 48px;
}

.footer-contacts p {
  width: 212px;
  margin-top: 0;
  margin-right: 156px;
}

.site-navigation-footer li:not(:last-child) {
  margin-right: 36px;
}

.site-navigation-footer {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

.footer-social span::before {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 7px;
  top: 14px;
  background: var(--additional-yellow-span);

}

.social-icons li:not(:last-child) {
  margin-right: 20px;
}

.pseudo {
  margin-right: 115px;
}

.catalog-nav {
  margin-bottom: 50px;
}

.catalog-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 44px 0 50px 60px;
}

.catalog-top h1 {
  margin-bottom: 36px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 40px;
}

.filters {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 328px;

  background-color: var(--basic-extra-light);
}

.filters h2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 328px;
  width: 100vw;
  height: 70px;
  background-color: var(--filter-header);
}

.filters::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  width: 100vw;
  height: 100%;
  background-color: var(--basic-extra-light);
}

.filters h2 {
  position: relative;

  width: 328px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 60px;

  background-color: var(--filter-header);
}

.sorting {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding-top: 18px;
  padding-bottom: 18px;
}

.sorting::before {
  content: "";
  position: absolute;
  top: 0;
  left: -70px;
  z-index: -1;

  width: 100vw;
  height: 100%;

  background-color: var(--basic-extra-light);
}

.sorting h2 {
  margin: 0 74px 0 0 ;
}

.sorting .buttons {
  margin-left: auto;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 18px 4px 0;

  list-style-type: none;
}

.sorting-list li:not(:last-child) {
  margin-right: 28px;
}

/* Фильтр общие*/
.filter-form {
  width: 270px;
  padding-top: 70px;
  padding-left: 60px;
}

.filter-item-wrap {
  position: relative;
}

.filter-item-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;

  width: 200px;
  height: 2px;

  background-color: var(--basic-black);
}

.filter-item {
  width: 202px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter-item legend {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 30px;

  font-weight: 800;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.01em;
}

/* Фильтр по цене*/
.filter-range {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.filter-controls {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.filter-scale {
  height: 2px;

  background-color: var(--basic-black);
  opacity: 0.20;
}

.filter-bar {
  width: 62%;
  height: 2px;

  background-color: var(--scale-color);
}

.filter-toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  background-color: var(--toggle-center);
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.filter-toggle:active {
  width: 22px;
  height: 22px;
}

.filter-toggle-min {
  top: -10px;
  left: -4px;
}

.filter-toggle-max {
  top: -10px;
  left: 109px;
}

.label-filters {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0;
}

.label-filters-min {
  flex-grow: 1;
  margin-right: 18px;
}

.label-filters-max {
  flex-grow: 1;
}

.input-filters {
  width: 50px;
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0;

  background: none;
  border: 0;
}

/* Фильтр по цветам */
.checkbox-list {
  margin: 0;
  padding: 0 0 31px 0;

  list-style: none;
}

.checkbox-item {
  padding-left: 39px;
}

/* Фильтр bluetooth*/
.filter-radio-list {
  margin: 0;
  padding: 0 0 50px 0;

  list-style: none;
}

.filter-radio-item {
  padding-left: 39px;
}

/* Карточки в каталоге */
.catalog-item {
  position: relative;
}

.set-button {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 360px;
  height: 380px;
  padding-top: 169px;
  padding-right: 90px;
  padding-left: 90px;

  text-align: center;

  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item:hover .set-button {
  display: block;
}

.item-description {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 8px;
}


/* Пагинация */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.pagination-button {
  padding: 25px 30px;
}

.pagination-backward {
  margin-right: auto;
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-list li:not(:last-child) {
  margin-right: 30px;
}
